/* background: linear-gradient(rgb(81, 182, 240), transparent);
  background-color: rgb(125, 238, 197);  */

body {
  background: linear-gradient(rgb(81, 182, 240), transparent);
  background-color: rgb(82, 212, 165); /*this your primary color*/
}

.body {
  background: linear-gradient(rgb(81, 182, 240), transparent);
  background-color: rgb(82, 212, 165); /*this your primary color*/
}

.loading {
  height: 600px;
  text-align: center;
  margin-top: 100px;
  margin-left: 550px;
}

.Heading h1 {
  margin-top: 30px;
  text-align: center;
  color: greenyellow;
}

.inline-buttons {
  margin-top: 50px;
  text-align: center;
}

.inline-buttons Button {
  margin-left: 50px;
  margin-right: 50px;
}

.homecomponent {
  margin-top: 30px;
  height: 800px;
  display: inline-block;
}

.test {
  height: 100px;
}

.homecomponent h1 {
  text-align: center;
  margin-left: 80px;
}

.homecomponent img {
  height: 700px;
  width: 600px;
  margin-left: 50px;
}

.homecomponent h1 {
  text-align: center;
  color: greenyellow;
  margin-top: 50px;
}

.component {
  height: 1400px;
}

.chart-container {
  margin-top: 80px;
  text-align: center;
}

.charts {
  display: inline-block;
}
.twomaps {
  border: 5px solid cornflowerblue;
  margin-top: 80px;
  margin-left: 140px;
  margin-right: 190px;
}
