/* background: linear-gradient(rgb(81, 182, 240), transparent);
  background-color: rgb(125, 238, 197);  */

body {
  background: linear-gradient(rgb(81, 182, 240), transparent);
  background-color: rgb(82, 212, 165); /*this your primary color*/
}

.body {
  background: linear-gradient(rgb(81, 182, 240), transparent);
  background-color: rgb(82, 212, 165); /*this your primary color*/
}

.loading {
  height: 600px;
  text-align: center;
  margin-left: 40vw;
  margin-top: 80px;
}

.Heading h1 {
  margin-top: 30px;
  text-align: center;
  color: greenyellow;
}

.inline-buttons {
  margin-top: 50px;
  text-align: center;
}

.inline-buttons Button {
  margin-left: 50px;
  margin-right: 50px;
}

.homecomponent {
  margin-top: 30px;
  height: 650px;
}

.imagecontainer {
  display: inline-block;
  text-align: center;
}

.test {
  width: 50%;
  float: left;
  text-align: center;
}

.imagecontainer img {
  height: 100%;
  width: 45.7vw;
  margin-left: auto;
  margin-right: auto;
}

.homecomponent h1 {
  text-align: center;
  color: greenyellow;
  margin-top: 50px;
}

.component {
  height: 1500px;
}

.component .link {
  margin-top: 50px;
  text-align: center;
}

.component .link a {
  margin-left: 40px;
  color: aliceblue;
}

.chart-container {
  margin-top: 80px;
  text-align: center;
}

.charts {
  display: inline-block;
  margin-right: 20px;
}

.twomaps {
  border: 5px solid cornflowerblue;
  margin-top: 80px;
  margin-left: 10vw;
  margin-right: 10vw;
}
